*{
    box-sizing: inherit;
}

body{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #000;
    background: #f6f6f6;
    height: 100%;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.container{
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
}

.flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    flex-direction: row;
}

.section-title{
    box-sizing: border-box;
    font-size: 3.5em;
    font-weight: 100;
    color: #fff;
    background: #02a7ad;
    width: 100%;
    margin-bottom: 50px;
    padding: 30px 40px;
}

.icon{
    background: #262f38;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    width: 55px;
    height: 55px;
    margin: 20px 30px 20px 50px;
    position: relative;
    text-align: center;
    transition: all 0.3s;
}

.icon:hover{
    background: #04c2c9;
    border-color: #04c2c9;
    transform: scale(0.9);
}

.link{
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: 0.25s all;
}

.link:hover{
    border-bottom: 3px solid #04c2c9;
}

#sidebar{
    color: #fff;
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
}

#sidebar-content{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    justify-content: flex-start;
    z-index: 2;
}

#me{
    height: 200px;
    margin: 50px 10px 10px 10px;
}

#name{
    font-size: 2.8em;
    font-weight: 400;
    margin: 0 10px 50px 10px;
}

#title{
    color: #ccc;
    font-size: 0.8em;
    font-weight: 400;
}

#navbar{
    margin: 0 10px 0 10px;
}

#navbar a, button{
    color: #fff;
    background-color: transparent;
    font-size: 2.2em;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 30px;
    display: block;
    pointer-events: all;
    transition: all 0.5s;
}

#navbar a:hover, button:hover{
    cursor: pointer;
    background: #04c2c9;
    border-color: #04c2c9;
}

#pt{
    background-color: #252934;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-content{
    display: block;
    position: relative;
    text-align: left;
    padding-left: 25%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#about{
    background: url(../img/background.jpg) no-repeat top center/cover #bababa;
    background-size: cover;
    height: 100vh;
}

#about-intro{
    color: #fff;
    line-height: 1.5;
    padding: 110px 50px 0 130px;
    max-width: 900px;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 60%);
}

#about-heading{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 50px;
}

#about-subheading{
    font-size: 3em;
    font-weight: 200;
}

#portfolio{
    min-height: 100vh;
}

#contact{
    min-height: 100vh;
}

#contact a{
    color: #04c2c9;
}

#contact-content{
    align-items: flex-start;
    font-size: 1.4em;
}

/* TODO Don't make smaller. Change sidebar to a header and snap to top */
/* TODO Overflows on each section are out of control when zoomed in (mobile) */
@media screen and (max-width: 960px){
    #me{
        height: 100px;
    }

    #name{
        font-size: 1.8em;
    }

    #navbar a, button{
        font-size: 1.4em;
    }
}
